<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>甄博知博客后台</title>
	<link rel="stylesheet" href="__PUBLIC__/css/ch-ui.admin.css">
	<link rel="stylesheet" href="__PUBLIC__/font/css/font-awesome.min.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/ch-ui.admin.js"></script>
</head>
<body>
	<!--头部 开始-->
	<div class="top_box">
		<div class="top_left">
			<div class="logo">甄博知博客后台管理</div>
			<ul>
				<li><a href="#" class="active">首页</a></li>
				<li><a href="#">管理页</a></li>
			</ul>
		</div>
		<div class="top_right">
			<ul>
				<li>管理员：{$Request.session.username}</li>
				<li><a href="{:url('login/logout')}">退出</a></li>
			</ul>
		</div>
	</div>
	<!--头部 结束-->

	<!--左侧导航 开始-->
	<div class="menu_box">
		<ul>
            <li>
            	<h3><i class="fa fa-fw fa-clipboard"></i>常用操作</h3>
                <ul class="sub_menu">
                    <li><a href="{:url('experiences/lst')}" target="main"><i class="fa fa-fw fa-list-alt"></i>心得管理</a></li>
                    <li><a href="{:url('contact/lst')}" target="main"><i class="fa fa-fw fa-comment"></i>用户管理</a></li>
                    <li><a href="{:url('comments/lst')}" target="main"><i class="fa fa-fw fa-comment"></i>留言管理</a></li>
                    <li><a href="{:url('resources/lst')}" target="main"><i class="fa fa-fw fa-share-alt"></i>资源管理</a></li>
                    <li><a href="{:url('records/lst')}" target="main"><i class="fa fa-fw fa-comments"></i>说说管理</a></li>  
                    <li><a href="{:url('news/lst')}" target="main"><i class="fa fa-fw fa-signal"></i>科技管理</a></li>                 
                </ul>
            </li>
            <li>
            	<h3><i class="fa fa-fw fa-cog"></i>系统设置</h3>
                <ul class="sub_menu">
                    <li><a href="{:url('admin/lst')}" target="main"><i class="fa fa-fw fa-user"></i>管理员管理</a></li>
                    <li><a href="{:url('links/lst')}" target="main"><i class="fa fa-fw fa-link"></i>链接管理</a></li>
                    <li><a href="{:url('cates/lst')}" target="main"><i class="fa fa-fw fa-list-ul"></i>分类管理</a></li>
                    <li><a href="{:url('about/lst')}" target="main"><i class="fa fa-fw fa-users"></i>个人信息</a></li>
                </ul>
            </li>
            <li>
            	<h3><i class="fa fa-fw fa-thumb-tack"></i>工具导航</h3>
                <ul class="sub_menu">
                    <li><a href="http://www.yeahzan.com/fa/facss.html" target="main"><i class="fa fa-fw fa-font"></i>图标调用</a></li>
                    <li><a href="http://hemin.cn/jq/cheatsheet.html" target="main"><i class="fa fa-fw fa-chain"></i>Jquery手册</a></li>
                    <li><a href="http://tool.c7sky.com/webcolor/" target="main"><i class="fa fa-fw fa-tachometer"></i>配色板</a></li>
                </ul>
            </li>
        </ul>
	</div>
	<!--左侧导航 结束-->

	<!--主体部分 开始-->
	<div class="main_box">
		<iframe src="{:url('index/welcome')}" frameborder="0" width="100%" height="100%" name="main"></iframe> 
	</div>
	<!--主体部分 结束-->

	<!--底部 开始-->
	<div class="bottom_box">
		CopyRight © 2015. Powered By <a href="甄博知">甄博知</a>.
	</div>
	<!--底部 结束-->
</body>
</html>