<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="__PUBLIC__/css/ch-ui.admin.css">
    <link rel="stylesheet" href="__PUBLIC__/font/css/font-awesome.min.css">
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
    <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->
        <i class="fa fa-home"></i> <a href="{:url('index/welcome')}">首页</a> &raquo; <a href="{:url('experiences/lst')}">学习心得</a> &raquo; 编辑心得
    </div>
    <!--面包屑导航 结束-->
    
    <div class="result_wrap">
        <form action="" method="post" enctype="multipart/form-data">
            <table class="add_tab">
                <tbody>
                    <tr>
                        <th>标题：</th>
                        <td>
                            <input type="hidden" class="lg" name="id" value="{$row.id}">
                            <input type="text" class="lg" name="title" value="{$row.title}">
                        </td>
                    </tr>
                    <tr>
                        <th>作者：</th>
                        <td>
                            <input type="text" class="lg" name="author" value="{$row.author}">
                        </td>
                    </tr>
                    <tr>
                        <th>分类：</th>
                        <td>
                            <select name="cateid">
                                <option value="">请选择栏目</option>
                                {volist name="cates" id="vo"}
                                <option {if condition="$vo['id'] eq $row['cateid']"}selected="selected"{/if} value="{$vo.id}">{$vo.catename}</option>
                                {/volist}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>缩略图：</th>
                        <td><input type="file" name="img"><img src="__IMG__{$row.img}"></td>
                    </tr>
                    <tr>
                        <th>描述：</th>
                        <td><textarea name="desc" class="form-control">{$row.desc}</textarea></td>
                    </tr>                           
                    <tr>
                        <th>内容：</th>
                        <td><script id="editor" name="content" type="text/plain" style="width:800px;height:500px;">{$row.content}</script></td>
                    </tr>
                    <tr>
                        <th>推荐：</th>
                        <td>
                            {if condition="$row.status eq 1"}
                                <span style="padding-right:20px;"><input type="radio" class="lg" name="status" value="1" checked>推荐</span><span><input type="radio" class="lg" name="status" value="0">不推荐</span>
                            {else /}
                                <span style="padding-right:20px;"><input type="radio" class="lg" name="status" value="1">推荐</span><span><input type="radio" class="lg" name="status" value="0" checked>不推荐</span>
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" value="提交">
                            <input type="button" class="back" onclick="history.go(-1)" value="返回">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

</body>
</html>
<script  type="text/javascript">
    var ue = UE.getEditor('editor');
</script>