<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="__PUBLIC__/css/ch-ui.admin.css">
	<link rel="stylesheet" href="__PUBLIC__/font/css/font-awesome.min.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/ch-ui.admin.js"></script>
</head>
<body>
    <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->
        <i class="fa fa-home"></i> <a href="{:url('index/welcome')}">首页</a> &raquo;链接管理
    </div>
    <!--面包屑导航 结束-->

    <!--搜索结果页面 列表 开始-->
    <form action="#" method="post">
        <div class="result_wrap">
            <!--快捷导航 开始-->
            <div class="result_content">
                <div class="short_wrap">
                    <a href="{:url('links/add')}"><i class="fa fa-plus"></i>添加链接</a>
                </div>
            </div>
            <!--快捷导航 结束-->
        </div>

        <div class="result_wrap">
            <div class="result_content">
                <table class="list_tab">
                    <tr>
                        <th class="tc" width="10%">ID</th>
                        <th class="tc" width="15%">链接名称</th>
                        <th class="tc" width="25%">链接地址</th>
                        <th class="tc" width="35%">链接描述</th>
                        <th class="tc" width="15%">操作</th>
                    </tr>
                    {volist name='list' id='val'}
                    <tr>
                        <td class="tc">{$val.id}</td>
                        <td class="tc">{$val.linkname}</td>
                        <td class="tc">{$val.linkurl}</td>
                        <td class="tc">{$val.desc}</td>
                        <td class="tc">
                            <a href="{:url('links/edit',array('id'=>$val['id']))}"><i class="fa fa-pencil"></i>修改</a>
                            <a href="{:url('links/del',array('id'=>$val['id']))}"><i class="fa fa-trash-o"></i>删除</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
            <div style="text-align:right;" class="page_list">
                {$list->render()}
            </div>
            </div>
        </div>
    </form>
    <!--搜索结果页面 列表 结束-->



</body>
</html>