<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="__PUBLIC__/css/ch-ui.admin.css">
	<link rel="stylesheet" href="__PUBLIC__/font/css/font-awesome.min.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/ch-ui.admin.js"></script>
</head>
<body>
    <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->
        <i class="fa fa-home"></i> <a href="{:url('index/welcome')}">首页</a> &raquo;留言管理
    </div>
    <!--面包屑导航 结束-->

    <!--搜索结果页面 列表 开始-->
    <div class="result_wrap">
        <div class="result_content">
            <table class="list_tab">
                <tr>
                    <th class="tc" width="5%">ID</th>
                    <th class="tc" width="10%">留言用户id</th>
                    <th class="tc" width="63%">留言内容</th>
                    <th class="tc" width="15%">时间</th>
                    <th class="tc" width="7%">操作</th>
                </tr>
                {volist name='list' id='val'}
                <tr>
                    <td class="tc">{$val.id}</td>
                    <td class="tc">{$val.contactid}</td>
                    <td class="tc">{$val.content}</td>
                    <td class="tc">{$val.time|date="Y-m-d H:i:s",###}</td>
                    <td class="tc">
                        <a href="{:url('comments/del',array('id'=>$val['id']))}"><i class="fa fa-trash-o"></i>删除</a>
                    </td>
                </tr>
                {/volist}
            </table>
            <div class="page_nav">
                {$list->render()}
                </div>
        </div>
    </div>
    <!--搜索结果页面 列表 结束-->

</body>
</html>