<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>甄博知（寻梦）</title>
    <meta name="keywords" content="个人博客,甄博知" />
    <meta name="description" content="甄博知，学习、交流的平台。" />
    <link href="__PUBLIC__/css/base.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <style>
        .thepage{position:absolute;left:500px;margin-bottom: 30px;}
        .thepage ul li{width:30px;float:left;border:1px solid #999;background-color: #999;margin-right: 2px;text-align: center;}
    </style>
</head>
<body>
<header>
    <div id="logo"><a href="/"></a></div>
    <nav class="topnav" id="topnav">
        <a href="{:url('index/index')}"><span>首页</span><span class="en">Protal</span></a>
        <a href="{:url('index/aboutme')}"><span>关于我</span><span class="en">About</span></a>
        <a href="{:url('index/newlist')}"><span>前沿动态</span><span class="en">News</span></a>
        <a href="{:url('index/moodlist')}"><span>碎言碎语</span><span class="en">Doing</span></a>
        <a href="{:url('index/share')}"><span>资料分享</span><span class="en">Share</span></a>
        <a href="{:url('index/knowledge')}"><span>学无止境</span><span class="en">Learn</span></a>
        <a href="{:url('index/comments')}"><span>留言版</span><span class="en">Guestbook</span></a>
        {empty name="theuser"}
            <a href="{:url('visiter/index')}"><span>登录</span><span class="en">Login</span></a>
        {/empty}
        <a href="{:url('visiter/logout')}"><span>{$theuser}</span><span class="en">logout</span></a>      
    </nav>
</header>